{
#local_certs
auto_https disable_redirects
servers :8080 {
protocol {
allow_h2c
}
}
}
http://oc.buck.gq:80 {
respond "Hello, world!"
}

http://oc.buck.gq:8080 {
respond "Hello, world!"
}
oc.buck.gq{
respond "Hello, world!"
}
